

<div class="container-fluid">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <!-- 侧边栏与内容栏 -->
    <div class="col-md-4"">
      <!-- 侧边栏 -->
    <div class="cebianlan">
      <h4 style="text-pull:10px;">目录</h4>
      <ul>
        <li>rfug</li>
        <li>fsfsf</li>
        <li>sfsf</li>
      </ul>
    </div>
    <div class="cebianlan">
      推荐
    </div>
    <div class="cebianlan">
      最近
    </div>
    </div>
    <!-- 内容栏 -->
    <div class="col-md-8 neironglan">
      <h2><%= @article.title %></h2>
      <h6><%= @article.author %>|<%= @article.created_at %></h6>

      <p>
        <%= @article.content %>
      </p>

    </div>
  </div>

  </div>
</div>
